


<header>
  <img id="banner" src="http://vticket.com.au/sites/default/files/ConcertBanner.png" alt="" />
</header>

<div class="wrapper">
<h1 class="twelve columns" id="bandname">Slayer Fan Club Sign Up</h1>
  <div class="form">
    <form class="" id="submt_form" action="/fans" method="post" onsubmit="return emailValidation()">
      <input type="text" name="fan[name]" placeholder="Name">
      <input type="text" id="emailval" onkeypress="checkInput(event)" name="fan[email]" placeholder="Email Address">
      <input type="submit" value="Submit Contact info">
    </form>
  </div>
  <h6 id='invalid'>Email Address Invalid</h6>
</div>
